$color1: #e6e6e6;
$color2: #aa3232;
$color3: #640000;
$color4: #5a1e1e;
$color5: #000000;

$first-family: 'Yanone Kaffeesatz', sans-serif; 
$second-family: 'Arimo', sans-serif;

$width-full: 100%;
$width: 18.75rem; /*300px*/
$height-full: 18.75rem; /*300px*/
$height: 9.375rem; /*150px*/

$margin0: .125rem; /*2px*/
$margin1: .25rem; /*4px*/
$margin2: .3125rem; /*5px*/
$margin3: .625rem; /*10px*/
$margin4: 1rem; /*16px*/
$margin5: 1.25rem; /*20px*/

$padding0: .125rem; /*2px*/
$padding1: .3125rem; /*5px*/
$padding2: .625rem; /*10px*/
$padding3: 1rem; /*16px*/
$padding4: 1.25rem; /*20px*/

$radius1: .625rem; /*10px*/
$radius2: 50%;

$border-1: .5px solid rgba(255, 255, 255, .1);
$border-title: 2px solid rgba(40, 40, 40, .3);

$shadow1: -1px 1px 3px 0px rgba($color1, .3);
$shadow-title: 0px 0px 60px rgba($color1, .7);


